USE [master]
GO
/****** Object:  Database [HMS]    Script Date: 11/23/2025 11:23:09 PM ******/
CREATE DATABASE [HMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HMS]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 11/23/2025 11:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[guestName] [varchar](255) NOT NULL,
	[guestId] [int] NULL,
	[roomNumber] [varchar](50) NOT NULL,
	[checkInDate] [date] NOT NULL,
	[checkOutDate] [date] NOT NULL,
	[numberOfGuests] [int] NULL,
	[totalAmount] [decimal](18, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[managerName] [varchar](255) NULL,
	[employeeCount] [int] NULL,
	[annualBudget] [decimal](18, 2) NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](255) NOT NULL,
	[lastName] [varchar](255) NOT NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](50) NULL,
	[position] [varchar](255) NULL,
	[salary] [decimal](18, 2) NULL,
	[hireDate] [date] NULL,
	[departmentName] [varchar](255) NULL,
	[departmentId] [int] NULL,
	[status] [varchar](50) NULL,
	[employeeType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeShifts]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeShifts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employeeId] [int] NOT NULL,
	[shiftDate] [date] NOT NULL,
	[startTime] [time](7) NOT NULL,
	[endTime] [time](7) NOT NULL,
	[shiftType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facilities]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facilities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[type] [varchar](50) NULL,
	[capacity] [int] NULL,
	[operatingHours] [varchar](255) NULL,
	[pricePerHour] [decimal](18, 2) NULL,
	[status] [varchar](50) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacilityBookings]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacilityBookings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[facilityName] [varchar](255) NULL,
	[guestName] [varchar](255) NULL,
	[bookingDate] [date] NULL,
	[bookingTime] [varchar](255) NULL,
	[amount] [decimal](18, 2) NULL,
	[status] [varchar](50) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuestReviews]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestReviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[guestName] [varchar](255) NULL,
	[roomNumber] [varchar](50) NULL,
	[category] [varchar](50) NULL,
	[rating] [int] NULL,
	[content] [nvarchar](max) NULL,
	[reviewDate] [date] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guests]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](255) NOT NULL,
	[lastName] [varchar](255) NOT NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](50) NULL,
	[nationality] [varchar](255) NULL,
	[idNumber] [varchar](255) NULL,
	[roomNumber] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[checkInDate] [date] NULL,
	[checkOutDate] [date] NULL,
	[specialRequests] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryPerDepartment]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryPerDepartment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[departmentId] [int] NOT NULL,
	[itemId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[itemCode] [varchar](50) NULL,
	[category] [varchar](50) NULL,
	[unit] [varchar](20) NULL,
	[supplier] [varchar](255) NULL,
	[costPerUnit] [decimal](18, 2) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceRequests]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceRequests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomNumber] [varchar](50) NULL,
	[issueTitle] [varchar](255) NOT NULL,
	[issueDescription] [nvarchar](max) NULL,
	[priority] [varchar](50) NOT NULL,
	[status] [varchar](50) NULL,
	[assignedTo] [varchar](255) NULL,
	[estimatedCost] [decimal](18, 2) NULL,
	[reportDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[category] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[menuItemId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[guestId] [int] NULL,
	[roomNumber] [varchar](50) NOT NULL,
	[orderTime] [datetime] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[totalAmount] [decimal](18, 2) NULL,
	[specialInstructions] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bookingId] [int] NULL,
	[guestName] [varchar](255) NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[paymentMethod] [varchar](50) NULL,
	[transactionId] [varchar](255) NULL,
	[paymentDate] [date] NOT NULL,
	[status] [varchar](50) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomNumber] [varchar](50) NOT NULL,
	[floor] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[pricePerNight] [decimal](18, 2) NULL,
	[capacity] [int] NULL,
	[roomTypeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[basePrice] [decimal](18, 2) NOT NULL,
	[maxCapacity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](255) NOT NULL,
	[lastName] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[passwordHash] [varchar](255) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[phone] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[lastLogin] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseItems]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseItems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[itemId] [int] NOT NULL,
	[warehouseId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[minQuantity] [int] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 11/23/2025 11:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[location] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([id], [guestName], [guestId], [roomNumber], [checkInDate], [checkOutDate], [numberOfGuests], [totalAmount], [status]) VALUES (2, N'Sarah Johnson', NULL, N'108', CAST(N'2025-11-23' AS Date), CAST(N'2025-11-27' AS Date), 4, CAST(1250.00 AS Decimal(18, 2)), N'Confirmed')
INSERT [dbo].[Bookings] ([id], [guestName], [guestId], [roomNumber], [checkInDate], [checkOutDate], [numberOfGuests], [totalAmount], [status]) VALUES (3, N'Michael Brown', 3, N'108', CAST(N'2025-01-10' AS Date), CAST(N'2025-01-14' AS Date), 1, CAST(300.00 AS Decimal(18, 2)), N'Confirmed')
INSERT [dbo].[Bookings] ([id], [guestName], [guestId], [roomNumber], [checkInDate], [checkOutDate], [numberOfGuests], [totalAmount], [status]) VALUES (4, N'Emily Davis', 4, N'402', CAST(N'2025-01-17' AS Date), CAST(N'2025-01-21' AS Date), 3, CAST(2250.00 AS Decimal(18, 2)), N'Confirmed')
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([id], [name], [description], [managerName], [employeeCount], [annualBudget], [status]) VALUES (1, N'Front Desk', N'Handles guest check-in, check-out, and customer service', N'Emma Taylor', 12, CAST(540000.00 AS Decimal(18, 2)), N'active')
INSERT [dbo].[Departments] ([id], [name], [description], [managerName], [employeeCount], [annualBudget], [status]) VALUES (2, N'Housekeeping', N'Manages room cleaning and linen supplies', N'Bob Martinez', 45, CAST(1200000.00 AS Decimal(18, 2)), N'active')
INSERT [dbo].[Departments] ([id], [name], [description], [managerName], [employeeCount], [annualBudget], [status]) VALUES (3, N'Maintenance', N'Performs all facility and room repairs', N'Daniel Lee', 8, CAST(420000.00 AS Decimal(18, 2)), N'active')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([id], [firstName], [lastName], [email], [phone], [position], [salary], [hireDate], [departmentName], [departmentId], [status], [employeeType]) VALUES (1, N'Noah', N'Milan', N'noah@hotel.com', N'+1 (555) 123-4567', N'Receptionist', CAST(50000.00 AS Decimal(18, 2)), NULL, N'Front Desk', 1, N'active', N'contract')
INSERT [dbo].[Employees] ([id], [firstName], [lastName], [email], [phone], [position], [salary], [hireDate], [departmentName], [departmentId], [status], [employeeType]) VALUES (2, N'Alice', N'Martinez', N'bob.m@hotel.com', N'+1 (555) 234-5678', N'Supervisor', CAST(52000.00 AS Decimal(18, 2)), CAST(N'2024-10-23' AS Date), N'Housekeeping', NULL, N'inactive', N'full-time')
INSERT [dbo].[Employees] ([id], [firstName], [lastName], [email], [phone], [position], [salary], [hireDate], [departmentName], [departmentId], [status], [employeeType]) VALUES (3, N'Carol', N'White', N'carol.w@hotel.com', N'+1 (555) 345-6789', N'Chef', CAST(65000.00 AS Decimal(18, 2)), CAST(N'2021-11-10' AS Date), N'Restaurant', 4, N'active', N'Full Time')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeShifts] ON 

INSERT [dbo].[EmployeeShifts] ([id], [employeeId], [shiftDate], [startTime], [endTime], [shiftType]) VALUES (1, 1, CAST(N'2025-11-19' AS Date), CAST(N'07:00:00' AS Time), CAST(N'15:00:00' AS Time), N'Morning')
INSERT [dbo].[EmployeeShifts] ([id], [employeeId], [shiftDate], [startTime], [endTime], [shiftType]) VALUES (2, 4, CAST(N'2025-11-19' AS Date), CAST(N'09:00:00' AS Time), CAST(N'17:00:00' AS Time), N'Day')
SET IDENTITY_INSERT [dbo].[EmployeeShifts] OFF
GO
SET IDENTITY_INSERT [dbo].[Facilities] ON 

INSERT [dbo].[Facilities] ([id], [name], [type], [capacity], [operatingHours], [pricePerHour], [status], [description]) VALUES (1, N'Swimming Pool', N'recreation', 50, N'6:00 AM - 10:00 PM', CAST(0.00 AS Decimal(18, 2)), N'open', N'Outdoor swimming pool with lounge area')
INSERT [dbo].[Facilities] ([id], [name], [type], [capacity], [operatingHours], [pricePerHour], [status], [description]) VALUES (2, N'Fitness Center', N'recreation', 30, N'24/7', CAST(0.00 AS Decimal(18, 2)), N'open', N'Fully equipped gym with cardio and weight training equipment')
INSERT [dbo].[Facilities] ([id], [name], [type], [capacity], [operatingHours], [pricePerHour], [status], [description]) VALUES (3, N'Conference Room A', N'business', 50, N'8:00 AM - 8:00 PM', CAST(150.00 AS Decimal(18, 2)), N'open', N'Large conference room with projector and seating')
SET IDENTITY_INSERT [dbo].[Facilities] OFF
GO
SET IDENTITY_INSERT [dbo].[FacilityBookings] ON 

INSERT [dbo].[FacilityBookings] ([id], [facilityName], [guestName], [bookingDate], [bookingTime], [amount], [status], [notes]) VALUES (1, N'Conference Room A', N'Tech Corp', CAST(N'2025-10-15' AS Date), N'9:00 AM - 5:00 PM', CAST(1200.00 AS Decimal(18, 2)), N'confirmed', NULL)
INSERT [dbo].[FacilityBookings] ([id], [facilityName], [guestName], [bookingDate], [bookingTime], [amount], [status], [notes]) VALUES (2, N'Spa & Wellness', N'Sarah Johnson', CAST(N'2025-10-14' AS Date), N'2:00 PM - 4:00 PM', CAST(240.00 AS Decimal(18, 2)), N'confirmed', NULL)
INSERT [dbo].[FacilityBookings] ([id], [facilityName], [guestName], [bookingDate], [bookingTime], [amount], [status], [notes]) VALUES (3, N'Banquet Hall', N'Wedding Party', CAST(N'2025-10-20' AS Date), N'6:00 PM - 12:00 AM', CAST(3500.00 AS Decimal(18, 2)), N'pending', NULL)
SET IDENTITY_INSERT [dbo].[FacilityBookings] OFF
GO
SET IDENTITY_INSERT [dbo].[GuestReviews] ON 

INSERT [dbo].[GuestReviews] ([id], [guestName], [roomNumber], [category], [rating], [content], [reviewDate], [status]) VALUES (2, N'Sarah Johnson', N'305', N'service', 4, N'Great location and comfortable beds. The breakfast could be improved.', CAST(N'2025-10-11' AS Date), N'published')
INSERT [dbo].[GuestReviews] ([id], [guestName], [roomNumber], [category], [rating], [content], [reviewDate], [status]) VALUES (3, N'Michael Brown', N'102', N'room', 3, N'Average experience. Room was okay but the AC was not working properly.', CAST(N'2025-10-10' AS Date), N'under-review')
SET IDENTITY_INSERT [dbo].[GuestReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Guests] ON 

INSERT [dbo].[Guests] ([id], [firstName], [lastName], [email], [phone], [nationality], [idNumber], [roomNumber], [status], [checkInDate], [checkOutDate], [specialRequests]) VALUES (1, N'John', N'Smith', N'john.smith@email.com', N'+1 (555) 123-4567', N'American', N'A123456789', N'201', N'checked-in', CAST(N'2025-01-15' AS Date), CAST(N'2025-01-18' AS Date), N'Late checkout requested')
INSERT [dbo].[Guests] ([id], [firstName], [lastName], [email], [phone], [nationality], [idNumber], [roomNumber], [status], [checkInDate], [checkOutDate], [specialRequests]) VALUES (2, N'Sarah', N'Johnson', N'sarah.johnson@email.com', N'+1 (555) 234-5678', N'Canadian', N'C987654321', N'305', N'reserved', CAST(N'2025-01-16' AS Date), CAST(N'2025-01-20' AS Date), NULL)
INSERT [dbo].[Guests] ([id], [firstName], [lastName], [email], [phone], [nationality], [idNumber], [roomNumber], [status], [checkInDate], [checkOutDate], [specialRequests]) VALUES (3, N'Michael', N'Brown', N'michael.brown@email.com', N'+1 (555) 345-6789', N'British', N'B112233445', N'108', N'checked-out', CAST(N'2025-01-10' AS Date), CAST(N'2025-01-14' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Guests] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryPerDepartment] ON 

INSERT [dbo].[InventoryPerDepartment] ([id], [departmentId], [itemId], [quantity]) VALUES (1, 2, 1, 100)
INSERT [dbo].[InventoryPerDepartment] ([id], [departmentId], [itemId], [quantity]) VALUES (2, 2, 3, 50)
INSERT [dbo].[InventoryPerDepartment] ([id], [departmentId], [itemId], [quantity]) VALUES (3, 3, 6, 10)
SET IDENTITY_INSERT [dbo].[InventoryPerDepartment] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([id], [name], [itemCode], [category], [unit], [supplier], [costPerUnit], [description]) VALUES (1, N'Bed Sheets (Queen)', N'INV-001', N'linens', N'pcs', N'Linen Plus Co.', CAST(15.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Items] ([id], [name], [itemCode], [category], [unit], [supplier], [costPerUnit], [description]) VALUES (2, N'Towels (Bath)', N'INV-002', N'linens', N'pcs', N'Linen Plus Co.', CAST(8.50 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Items] ([id], [name], [itemCode], [category], [unit], [supplier], [costPerUnit], [description]) VALUES (3, N'Shampoo Bottles', N'INV-003', N'toiletries', N'bottles', N'Beauty Essentials', CAST(1.20 AS Decimal(18, 2)), N'rare')
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceRequests] ON 

INSERT [dbo].[MaintenanceRequests] ([id], [roomNumber], [issueTitle], [issueDescription], [priority], [status], [assignedTo], [estimatedCost], [reportDate]) VALUES (1, N'305', N'AC not working', N'Air conditioning unit not cooling properly', N'high', N'in-progress', N'Daniel Lee', CAST(150.00 AS Decimal(18, 2)), CAST(N'2025-10-12' AS Date))
INSERT [dbo].[MaintenanceRequests] ([id], [roomNumber], [issueTitle], [issueDescription], [priority], [status], [assignedTo], [estimatedCost], [reportDate]) VALUES (2, N'210', N'Leaking faucet', N'Bathroom sink faucet dripping continuously', N'medium', N'pending', N'Unassigned', CAST(50.00 AS Decimal(18, 2)), CAST(N'2025-10-13' AS Date))
INSERT [dbo].[MaintenanceRequests] ([id], [roomNumber], [issueTitle], [issueDescription], [priority], [status], [assignedTo], [estimatedCost], [reportDate]) VALUES (3, N'108', N'TV remote not working', N'TV remote control batteries dead', N'low', N'pending', N'Unassigned', CAST(5.00 AS Decimal(18, 2)), CAST(N'2025-10-13' AS Date))
SET IDENTITY_INSERT [dbo].[MaintenanceRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuItems] ON 

INSERT [dbo].[MenuItems] ([id], [name], [price], [category]) VALUES (1, N'Caesar Salad', CAST(12.00 AS Decimal(18, 2)), N'Appetizers')
INSERT [dbo].[MenuItems] ([id], [name], [price], [category]) VALUES (2, N'Soup of the Day', CAST(8.00 AS Decimal(18, 2)), N'Appetizers')
INSERT [dbo].[MenuItems] ([id], [name], [price], [category]) VALUES (3, N'Club Sandwich', CAST(18.00 AS Decimal(18, 2)), N'Main Courses')
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([id], [orderId], [menuItemId], [quantity], [price]) VALUES (1, 1, 3, 1, CAST(18.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([id], [orderId], [menuItemId], [quantity], [price]) VALUES (2, 1, 9, 1, CAST(6.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([id], [orderId], [menuItemId], [quantity], [price]) VALUES (3, 1, 11, 1, CAST(3.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [guestId], [roomNumber], [orderTime], [status], [totalAmount], [specialInstructions]) VALUES (1, 1, N'201', CAST(N'2025-10-13T12:30:00.000' AS DateTime), N'delivered', CAST(45.00 AS Decimal(18, 2)), N'No onions, extra ketchup')
INSERT [dbo].[Orders] ([id], [guestId], [roomNumber], [orderTime], [status], [totalAmount], [specialInstructions]) VALUES (2, 2, N'305', CAST(N'2025-10-13T13:15:00.000' AS DateTime), N'in-progress', CAST(38.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Orders] ([id], [guestId], [roomNumber], [orderTime], [status], [totalAmount], [specialInstructions]) VALUES (3, 3, N'102', CAST(N'2025-10-13T08:45:00.000' AS DateTime), N'pending', CAST(52.00 AS Decimal(18, 2)), N'Rush order')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([id], [bookingId], [guestName], [amount], [paymentMethod], [transactionId], [paymentDate], [status], [notes]) VALUES (1, 1, N'John Smith', CAST(1000.00 AS Decimal(18, 2)), N'credit-card', N'TXN-548932', CAST(N'2025-10-12' AS Date), N'completed', NULL)
INSERT [dbo].[Payments] ([id], [bookingId], [guestName], [amount], [paymentMethod], [transactionId], [paymentDate], [status], [notes]) VALUES (2, 2, N'Sarah Johnson', CAST(1250.00 AS Decimal(18, 2)), N'debit-card', N'TXN-548933', CAST(N'2025-10-13' AS Date), N'pending', N'don''t')
INSERT [dbo].[Payments] ([id], [bookingId], [guestName], [amount], [paymentMethod], [transactionId], [paymentDate], [status], [notes]) VALUES (3, 3, N'Michael Brown', CAST(300.00 AS Decimal(18, 2)), N'cash', N'TXN-548934', CAST(N'2025-10-11' AS Date), N'completed', NULL)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([id], [roomNumber], [floor], [status], [pricePerNight], [capacity], [roomTypeId]) VALUES (1, N'101', 1, N'Available', CAST(150.00 AS Decimal(18, 2)), 2, 1)
INSERT [dbo].[Rooms] ([id], [roomNumber], [floor], [status], [pricePerNight], [capacity], [roomTypeId]) VALUES (2, N'201', 2, N'Occupied', CAST(250.00 AS Decimal(18, 2)), 4, 2)
INSERT [dbo].[Rooms] ([id], [roomNumber], [floor], [status], [pricePerNight], [capacity], [roomTypeId]) VALUES (3, N'305', 3, N'Maintenance', CAST(450.00 AS Decimal(18, 2)), 4, 3)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([id], [name], [basePrice], [maxCapacity]) VALUES (1, N'Standard', CAST(150.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[RoomTypes] ([id], [name], [basePrice], [maxCapacity]) VALUES (2, N'Deluxe', CAST(250.00 AS Decimal(18, 2)), 4)
INSERT [dbo].[RoomTypes] ([id], [name], [basePrice], [maxCapacity]) VALUES (3, N'Suite', CAST(450.00 AS Decimal(18, 2)), 4)
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [firstName], [lastName], [email], [passwordHash], [role], [phone], [status], [lastLogin], [CreatedAt]) VALUES (7, N'Zahra', N'Mostafa', N'zahra@gmail.com', N'$2a$11$q1jtGKrJPb2zQWJ8AAQOeer6k3jvGB/2YbDfGjri95iCzTubCQj8O', N'Admin', N'0115687778', N'Active', NULL, CAST(N'2025-11-22T14:01:10.180' AS DateTime))
INSERT [dbo].[Users] ([id], [firstName], [lastName], [email], [passwordHash], [role], [phone], [status], [lastLogin], [CreatedAt]) VALUES (8, N'Radwa', N'Magdy', N'radwa@gmail.com', N'$2a$11$L07QE80rXSNsUd99nYWnfOtvfDn2YmOZGCrl7eqLQyX.s0KjF75wS', N'Admin', N'0115687778', N'Active', NULL, CAST(N'2025-11-22T14:04:26.870' AS DateTime))
INSERT [dbo].[Users] ([id], [firstName], [lastName], [email], [passwordHash], [role], [phone], [status], [lastLogin], [CreatedAt]) VALUES (9, N'John', N'Doe', N'john@example.com', N'$2a$11$sMNh.mgNJ2Y3XaOgUk.D8uuNprsN7Y1Mahdg1EqMeS67quw47/odW', N'Admin', N'0100000000', N'Active', NULL, CAST(N'2025-11-22T14:41:59.743' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WarehouseItems] ON 

INSERT [dbo].[WarehouseItems] ([id], [itemId], [warehouseId], [quantity], [minQuantity], [status]) VALUES (1, 1, 1, 250, 100, N'in-stock')
INSERT [dbo].[WarehouseItems] ([id], [itemId], [warehouseId], [quantity], [minQuantity], [status]) VALUES (2, 2, 1, 45, 80, N'low-stock')
INSERT [dbo].[WarehouseItems] ([id], [itemId], [warehouseId], [quantity], [minQuantity], [status]) VALUES (3, 3, 1, 180, 0, N'IN STOCK')
SET IDENTITY_INSERT [dbo].[WarehouseItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouses] ON 

INSERT [dbo].[Warehouses] ([id], [name], [location]) VALUES (1, N'Main Storage', N'Basement Level 1')
SET IDENTITY_INSERT [dbo].[Warehouses] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__72E12F1B75D3AF48]    Script Date: 11/23/2025 11:23:10 PM ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__AB6E61640B9A7205]    Script Date: 11/23/2025 11:23:10 PM ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Items__A22D0FD074CB60F8]    Script Date: 11/23/2025 11:23:10 PM ******/
ALTER TABLE [dbo].[Items] ADD UNIQUE NONCLUSTERED 
(
	[itemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MenuItem__72E12F1BE198094F]    Script Date: 11/23/2025 11:23:10 PM ******/
ALTER TABLE [dbo].[MenuItems] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Payments__9B57CF730901C076]    Script Date: 11/23/2025 11:23:10 PM ******/
ALTER TABLE [dbo].[Payments] ADD UNIQUE NONCLUSTERED 
(
	[transactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rooms__AE53101C9AE50176]    Script Date: 11/23/2025 11:23:10 PM ******/
ALTER TABLE [dbo].[Rooms] ADD UNIQUE NONCLUSTERED 
(
	[roomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RoomType__72E12F1B9029D193]    Script Date: 11/23/2025 11:23:10 PM ******/
ALTER TABLE [dbo].[RoomTypes] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164D2B75EB7]    Script Date: 11/23/2025 11:23:10 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((0)) FOR [employeeCount]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((0.00)) FOR [annualBudget]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0.00)) FOR [salary]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Facilities] ADD  DEFAULT ((0.00)) FOR [pricePerHour]
GO
ALTER TABLE [dbo].[Facilities] ADD  DEFAULT ('open') FOR [status]
GO
ALTER TABLE [dbo].[FacilityBookings] ADD  DEFAULT ((0.00)) FOR [amount]
GO
ALTER TABLE [dbo].[FacilityBookings] ADD  DEFAULT ('confirmed') FOR [status]
GO
ALTER TABLE [dbo].[GuestReviews] ADD  DEFAULT ('published') FOR [status]
GO
ALTER TABLE [dbo].[Guests] ADD  DEFAULT ('reserved') FOR [status]
GO
ALTER TABLE [dbo].[MaintenanceRequests] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[MaintenanceRequests] ADD  DEFAULT ((0.00)) FOR [estimatedCost]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('completed') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[WarehouseItems] ADD  DEFAULT ('in-stock') FOR [status]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([guestId])
REFERENCES [dbo].[Guests] ([id])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([departmentId])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[EmployeeShifts]  WITH CHECK ADD FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employees] ([id])
GO
ALTER TABLE [dbo].[InventoryPerDepartment]  WITH CHECK ADD FOREIGN KEY([departmentId])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[InventoryPerDepartment]  WITH CHECK ADD FOREIGN KEY([itemId])
REFERENCES [dbo].[Items] ([id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([menuItemId])
REFERENCES [dbo].[MenuItems] ([id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[Orders] ([id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([guestId])
REFERENCES [dbo].[Guests] ([id])
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([roomTypeId])
REFERENCES [dbo].[RoomTypes] ([id])
GO
ALTER TABLE [dbo].[WarehouseItems]  WITH CHECK ADD FOREIGN KEY([itemId])
REFERENCES [dbo].[Items] ([id])
GO
ALTER TABLE [dbo].[WarehouseItems]  WITH CHECK ADD FOREIGN KEY([warehouseId])
REFERENCES [dbo].[Warehouses] ([id])
GO
USE [master]
GO
